body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,#f598a3,#f7abaf,#fbd0c0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-inline: 20px;
}

section {
    width: 600px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 1px 1px 4px 1px #00000036;
}

section h1 {
    font-size: 3.75rem;
    font-weight: 900;
    font-family: impact;
    margin-block: 10px;
}

section p {
    font-size: 1.5625rem;
}

section button {
    background: linear-gradient(90deg,#f598a3,#fbd0c0);
    outline: none;
    border-color: #fbd0c0;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s linear;
}

section button:hover {
    background: transparent;
    color: #f598a3;
}